{% extends "base.html"%}

{% block title %}Home Page{% endblock %}

{%block main%}
{% if session["admin"] %}
    <h1>Welcome to cs50certified</h1>
{% else %}
<div class="card-verify">
    <a href="verify.html">
    <button class="btn btn-primary" style="height: 300px; width: 300px;">
        <i class="bi bi-patch-check-fill" style="font-size: 100px;"></i>
    </button>
    </a>
    <h5 class="card-title">Verify</h5>
</div>
<br>
<div class="card-addCertificate">
    <button class="btn btn-success" style="height: 300px; width: 300px;">
        <i class="bi bi-plus-square-fill" style="font-size: 100px;"></i>
    </a>
    </button>
    <h5 class="card-title">Add New Certification</h5>
</div>

{% endif %}
{% endblock%}