{% extends "base.html"%}

{% block title %}Home Page{% endblock %}

{%block main%}
    <div class="card-deck">
        <div class="card-verify">
            <button class="btn btn-primary" style="height: 300px; width: 300px;">
                <i class="bi bi-patch-check-fill" style="font-size: 100px;"></i>
            </button>
            <h5 class="card-title">Verify</h5>
        </div>
        <div class="card-addCertificate">
            <button class="btn btn-primary" style="height: 300px; width: 300px;">
                <i class="bi bi-patch-check-fill" style="font-size: 100px;"></i>
            </button>
            <h5 class="card-title">Add New Certification</h5>
        </div>
    </div>

{% endblock%}

