{% extends "base.html" %}
{% block title %}Login {% endblock%}

{% block main %}
    <form action="/login" method="POST" >
        <h1>Login</h1>
        <br>
            <div class="col">
              <input type="text" class="form-control  mx-auto w-auto"  placeholder="Username" aria-label="Username">
            </div>
            <br>
            <div >
              <input type="password" class="form-control  mx-auto w-auto" placeholder="Password" aria-label="Password">
            </div>
          </div>
          <br>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock%}