{% extends "base.html" %}
{% block title %}Register {% endblock%}

{% block main %}

{% if error%}
<div class="alert alert-danger" role="alert">
  {{error}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<form action="/register" method="POST">
  <h1>Register</h1>
  <br>
  <div class="row g-4">
    <div>
      <input type="text" class="form-control  mx-auto w-auto" name="username" placeholder="Username"
        aria-label="Username">
    </div>
    <div>
      <input type="email" class="form-control  mx-auto w-auto" name="email" placeholder="Email" aria-label="Email">
    </div>
    <br>
    <div>
      <input type="password" class="form-control  mx-auto w-auto" name="password" placeholder="Password"
        aria-label="Password">
    </div>
    <div>
      <input type="password" class="form-control  mx-auto w-auto" name="confirmPassword" placeholder="Confirm Password"
        aria-label="Confirm Password">
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock%}